<div class="infinite-cards row">
  <div class="offset-md-10 col-md-2 offset-lg-10 col-lg-2 offset-xxxl-10 col-xxxl-2">
    <nb-card class="own-scroll">
      <nb-card-header>Archives</nb-card-header>
      <nb-list nbInfiniteList [threshold]="500" (bottomThreshold)="loadNext(firstCard)">
        <nb-list-item *ngFor="let newsPost of firstCard.news">
          <ngx-news-post [post]="newsPost"></ngx-news-post>
        </nb-list-item>
        <nb-list-item *ngFor="let _ of firstCard.placeholders">
          <ngx-news-post-placeholder></ngx-news-post-placeholder>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>
