@font-face {
  font-family: 'shivaji';
  src: url('shivaji01.ttf') format('truetype');
  font-weight: $font-normal;
  font-style: normal;
  text-transform: initial;
}

.marathi {
  font-family: 'shivaji';
  font-size: 2em;
}
