@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .right {
    display: flex;
    justify-content: flex-end;
  }

  .question {
    text-align: center;
  }
  
  nb-card {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  nb-card-body {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  nb-radio-group {
    display: flex;
    padding: 1rem;
  }

  .choice-check {
    padding: 1rem;
  }
}
