<div class="row" *ngIf="quizList.active.quiz.length">
  <ngx-quiz-board class=" col-md-12 col-lg-12" [quizType]="QUIZ_TYPES.ACTIVE" [quiz]=quizList.active.quiz[0]>
  </ngx-quiz-board>
</div>
<div class="row" *ngIf="quizList.active.quizBucket.length">
  <div class="infinite-cards col-md-12 col-lg-12">
    <nb-card class="own-scroll vertical" accent="primary">
      <nb-card-header>Active Quizzes</nb-card-header>
      <nb-list nbInfiniteList [threshold]="10" (bottomThreshold)="loadNextActive()">
        <nb-list-item *ngFor="let quizzes of quizList.active.quizBucket">
          <div class="row">
            <ngx-quiz-card class="col-md-2 col-lg-2" [quiz]="quiz" *ngFor="let quiz of quizzes"></ngx-quiz-card>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>
<div class="row" *ngIf="quizList.upcoming.quiz.length">
  <ngx-quiz-board class="col-md-12 col-lg-12" [quizType]="QUIZ_TYPES.UPCOMING" [quiz]=quizList.upcoming.quiz[0]>
  </ngx-quiz-board>
</div>
<div class="row" *ngIf="quizList.upcoming.quizBucket.length">
  <div class="infinite-cards col-md-12 col-lg-12">
    <nb-card class="own-scroll vertical" accent="info">
      <nb-card-header>Upcoming Quizzes</nb-card-header>
      <nb-list nbInfiniteList [threshold]="10" (bottomThreshold)="loadNextUpcoming()">
        <nb-list-item *ngFor="let quizzes of quizList.upcoming.quizBucket">
          <div class="row">
            <ngx-quiz-card class="col-md-2 col-lg-2" [quiz]="quiz" *ngFor="let quiz of quizzes">
            </ngx-quiz-card>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>
<div class="row" *ngIf="quizList.archive.quiz.length">
  <ngx-quiz-board class="col-md-12 col-lg-12" [quizType]="QUIZ_TYPES.ARCHIVE" [quiz]=quizList.archive.quiz[0]>
  </ngx-quiz-board>
</div>
<div class="row" *ngIf="quizList.archive.quizBucket.length">
  <div class="infinite-cards col-md-12 col-lg-12">
    <nb-card class="own-scroll vertical" accent="danger">
      <nb-card-header>Quiz Museum</nb-card-header>
      <nb-list nbInfiniteList [threshold]="10" (bottomThreshold)="loadNextArchive()">
        <nb-list-item *ngFor="let quizzes of quizList.archive.quizBucket">
          <div class="row">
            <ngx-quiz-card class="col-md-2 col-lg-2" [quiz]="quiz" *ngFor="let quiz of quizzes">
            </ngx-quiz-card>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>
