<div class="row">
  <div class="col-xxxl-3 col-xxl-3 col-lg-3 col-md-3">
    <nb-card size="small">
      <div class="picture" style.background-image="url('')"></div>
    </nb-card>
  </div>

  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
    <div class="h2">Quiz Name</div>
    <div class="h6">Domain Name</div>
    <p>Description</p>
  </div>

  <div class="col-xxxl-3 col-xxl-3 col-lg-3 col-md-3">
    <nb-card size="small">
      HOF
    </nb-card>
  </div>

</div>

<div class="row">
  <div class="col-12">
    <nb-card size="small">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Contest">
          <span>Contest</span>
          
        </nb-tab>
        <nb-tab tabTitle="Leaderboard">
          <span>Leaderboard</span>
        </nb-tab>
        <nb-tab tabTitle="Discussion">
          <span>Discussion</span>
        </nb-tab>
        <nb-tab tabTitle="Practice">
          <span>Practice</span>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>
<div class="row col-md-12 col-lg-12 right">
  <button nbButton shape="semi-round">
    Start Contest
  </button>
</div>