@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  
  nb-card {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  nb-card-body {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
}
