<div class="row">
  <div class="col-12">
    <nb-tabset fullWidth class="title">
      <nb-tab tabTitle="Dashboard">
        <nb-card accent="danger" [nbSpinner]="!domain.knowledge" nbSpinnerSize="small" nbSpinnerStatus="primary">
          <nb-card-header>
          <h3>{{domain.domainName}}</h3>
          <h5>{{domain.description}}</h5>
          </nb-card-header>
          <nb-card-body>
          <div [innerHtml]="domain.knowledge" property="binding">
          </div>
          </nb-card-body>
        </nb-card>

        </nb-tab>
        <nb-tab tabTitle="Practice" disabled>
        </nb-tab>
        <nb-tab tabTitle="Quiz">
          <div class="row" *ngIf="quizComponent.quizList.active.quiz.length">
            <ngx-quiz-board class=" col-md-12 col-lg-12" [quizType]="quizComponent.QUIZ_TYPES.ACTIVE"
              [quiz]=quizComponent.quizList.active.quiz[0]>
            </ngx-quiz-board>
          </div>
          <div class="row" *ngIf="quizComponent.quizList.active.quizBucket.length">
            <div class="infinite-cards col-md-12 col-lg-12">
              <nb-card class="own-scroll vertical" accent="primary">
                <nb-card-header>Active Quizzes</nb-card-header>
                <nb-list nbInfiniteList [threshold]="10" (bottomThreshold)="loadNextActive()">
                  <nb-list-item *ngFor="let quizzes of quizComponent.quizList.active.quizBucket">
                    <div class="row">
                      <ngx-quiz-card class="col-md-2 col-lg-2" [quiz]="quiz" *ngFor="let quiz of quizzes">
                      </ngx-quiz-card>
                    </div>
                  </nb-list-item>
                </nb-list>
              </nb-card>
            </div>
          </div>
          <div class="row" *ngIf="quizComponent.quizList.upcoming.quiz.length">
            <ngx-quiz-board class="col-md-12 col-lg-12" [quizType]="quizComponent.QUIZ_TYPES.UPCOMING"
              [quiz]=quizComponent.quizList.upcoming.quiz[0]>
            </ngx-quiz-board>
          </div>
          <div class="row" *ngIf="quizComponent.quizList.upcoming.quizBucket.length">
            <div class="infinite-cards col-md-12 col-lg-12">
              <nb-card class="own-scroll vertical" accent="info">
                <nb-card-header>Upcoming Quizzes</nb-card-header>
                <nb-list nbInfiniteList [threshold]="10" (bottomThreshold)="loadNextUpcoming()">
                  <nb-list-item *ngFor="let quizzes of quizComponent.quizList.upcoming.quizBucket">
                    <div class="row">
                      <ngx-quiz-card class="col-md-2 col-lg-2" [quiz]="quiz" *ngFor="let quiz of quizzes">
                      </ngx-quiz-card>
                    </div>
                  </nb-list-item>
                </nb-list>
              </nb-card>
            </div>
          </div>
          <div class="row" *ngIf="quizComponent.quizList.archive.quiz.length">
            <ngx-quiz-board class="col-md-12 col-lg-12" [quizType]="quizComponent.QUIZ_TYPES.ARCHIVE"
              [quiz]=quizComponent.quizList.archive.quiz[0]>
            </ngx-quiz-board>
          </div>
          <div class="row" *ngIf="quizComponent.quizList.archive.quizBucket.length">
            <div class="infinite-cards col-md-12 col-lg-12">
              <nb-card class="own-scroll vertical" accent="danger">
                <nb-card-header>Quiz Museum</nb-card-header>
                <nb-list nbInfiniteList [threshold]="10" (bottomThreshold)="loadNextArchive()">
                  <nb-list-item *ngFor="let quizzes of quizComponent.quizList.archive.quizBucket">
                    <div class="row">
                      <ngx-quiz-card class="col-md-2 col-lg-2" [quiz]="quiz" *ngFor="let quiz of quizzes">
                      </ngx-quiz-card>
                    </div>
                  </nb-list-item>
                </nb-list>
              </nb-card>
            </div>
          </div>
        </nb-tab>
      </nb-tabset>
  </div>
</div>