<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>
  <a href="#/main/dashboard" class="al-logo clearfix"><span> सहकारी </span>पतपेढी</a>

  <div class="user-profile clearfix">
    <div class="al-user-profile" uib-dropdown>
      <a uib-dropdown-toggle class="profile-toggle-link">
        <img ng-src="{{::( 'Blank' | profilePicture )}}">
      </a>
      <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <li><a href="#/main/profile"><i class="fa fa-user"></i>Profile</a></li>
        <li><a href="#/main/settings"><i class="fa fa-cog"></i>Settings</a></li>
        <li><a href="#/login" class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>
      </ul>
    </div>
    <msg-center></msg-center>
  </div>
  <div class="breadcrumb al-breadcrumb">
    <label class="switcher-container">
      <input type="checkbox" ng-model="ctrl.lang" ng-click="ctrl.updateLang()">
      <div class="switcher primary " ng-class="::switcherStyle">
        <div class="handle-container">
          <span class="handle handle-on">Mar</span>
          <span class="handle"></span>
          <span class="handle handle-off">Eng</span>
        </div>
      </div>
    </label>
  </div>
</div>